.visualiser {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    border-left-color: rgb(130, 130, 130);
    border-right-color: rgb(130, 130, 130);
    border-top-color: rgb(130, 130, 130);
    border-bottom-color: rgb(130, 130, 130);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
}
